<configuration>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>src/test/data/load-logs/timings-results.txt</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="teetime.framework" level="TRACE" />
	<logger name="teetime.stage" level="TRACE" />
	<logger name="util" level="INFO" />

	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>